.index-intro {
  position: relative;
  z-index: 10;
  height: auto;
}

.index-intro__text {
  margin-top: 30px;
}

.index-intro__text-link {
  font-family: @helvetica-bold;
  font-size: 18px;
  border-bottom: 1px solid fade(@black, 30%);
}

.index-intro__text-desc {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 30px;
}

.index-intro__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  form {
    position: relative;
    width: auto;
    height: auto;
    &::before {
      position: absolute;
      top: 32%;
      left: 8%;
      width: 15px;
      height: 15px;
      content: '';
      background: url(../img/svg/search-icon.svg) no-repeat;
    }
  }
}

.index-intro__actions-btn {
  font-size: 14px;
  display: inline-block;
  height: auto;
  padding-top: 7px;
  vertical-align: middle;
}

.index-intro__actions-input {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    font-size: 13px;
    padding-left: 25px;
  }
  &::-moz-placeholder {
    font-size: 13px;
    padding-left: 25px;
  }
  &:-ms-input-placeholder {
    font-size: 13px;
    padding-left: 25px;
  }
}

@media @tablet {
  .index-intro {
    &:after {
      position: absolute;
      z-index: 1;
      top: 10%;
      right: -4%;
      overflow-x: hidden;
      width: 350px;
      height: 290px;
      content: '';
      background: url(../img/header-pic-tab.png) no-repeat;
      background-size: contain;
    }
  }
  .index-intro__text {
    width: 390px;
  }
  .index-intro__text-title {
    display: inline;
  }
  .index-intro__text-link {
    font-size: 22px;
  }
  .index-intro__text-desc {
    font-size: 16px;
    margin-top: 7px;
  }
  .index-intro__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
  }
  .index-intro__actions-btn {
    font-size: 16px;
    height: 40px;
    padding-top: 10px;
  }
  .index-intro__actions-input {
    width: 200px;
    height: 40px;
    padding-left: 20px;
    &::-webkit-input-placeholder {
      font-size: 15px;
      padding-bottom: 0;
      padding-left: 15px;
    }
    &::-moz-placeholder {
      font-size: 15px;
      padding-left: 25px;
    }
    &:-ms-input-placeholder {
      font-size: 15px;
      padding-left: 25px;
    }
  }
}

@media @desktop {
  .index-intro {
    margin-bottom: 30px;
    &:after {
      top: 0;
      right: 0;
      width: 600px;
      height: 200px;
      background: url(../img/header-pic.png) no-repeat;
      background-size: contain;
    }
  }
  .index-intro__text {
    width: 450px;
    padding-top: 20px;
  }
  .index-intro__text-title {
    font-size: 26px;
    line-height: 32px;
  }
  .index-intro__text-link {
    font-size: 26px;
  }
  .index-intro__text-desc {
    font-size: 20px;
  }
  .index-intro__actions {
    width: 430px;
    form {
      &::before {
        left: 5%;
      }
    }
  }
  .index-intro__actions-input {
    width: 270px;
    padding-left: 35px;
    &::-webkit-input-placeholder {
      font-size: 16px;
      padding-left: 5px;
    }
    &::-moz-placeholder {
      font-size: 16px;
    }
    &:-ms-input-placeholder {
      font-size: 16px;
    }
  }
}
