.page-header {
  padding-top: 10px;
  z-index: 10;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe59f), color-stop(53%, rgba(255, 233, 186, 0.74)), to(rgba(255, 233, 186, 0.01)));
    background-image: linear-gradient(to bottom, #ffe59f, rgba(255, 233, 186, 0.74) 53%, rgba(255, 233, 186, 0.01));
  }
}

.page-header__logo img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.page-header__logo-text {
  display: inline-block;
  vertical-align: middle;
}

.page-header__logo-text-main {
  font-family: @helvetica;
  font-weight: 700;
  margin-left: 5px;
  font-size: 16px;
}

.page-header__logo-text-slogan {
  display: none;
}

.page-header__toggler {
  display: inline-block;
  width: 23px;
  height: 15px;
  background-image: url(../img/svg/toggler.svg);
}

.page-header__menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: -4%;
  right: -4%;
  text-align: center;
  background-color: @dark-gray;
}

.page-header__menu-list-item {
  padding: 20px 0;
  &--close {
    padding: 10px;
    background-color: @gray;
    font-size: 13px
  }
  &--contacts {
    background-color: @gray;
    padding: 15px 0;
  }
}

.page-header__menu-list-item--contacts a {
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
}

.page-header__menu-list-item a {
  color: @white;
}

.page-header__menu-list-item--cart a {
  color: @orange;
}

@media @tablet {
  .page-header__logo img {
    width: 45px;
    height: 45px;
  }
  .page-header__logo-text-main {
    font-size: 17px;
  }
  .page-header__toggler {
    width: 30px;
    height: 19px;
  }
}

@media @desktop {
  .page-header {
    padding-top: 30px;
  }
  .page-header__toggler {
    display: none;
  }
  .page-header__logo img {
    width: 55px;
    height: 55px;
  }
  .page-header__logo-text-main {
    font-size: 18px;
  }
  .page-header__logo-text-slogan {
    display: block;
    font-size: 14px;
    padding-left: 7px;
  }
  .page-header__menu {
    display: block;
    position: static;
    text-align: left;
    background-color: transparent;
  }
  .page-header__menu-list {
    width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .page-header__menu-list-item {
    padding: 0;
    &--close {
      display: none;
    }
    &--contacts {
      display: none;
    }
    &--cart {
      margin-left: 30px;
      a {
        padding: 5px 10px;
        border: 1px solid @orange;
        border-radius: 5px;
        &:hover {
          background-color: @orange;
          color: @white;
        }
      }
    }
  }
  .page-header__menu-list-item a {
    color: @black;
    font-size: 16px;
  }
  .page-header__menu-list-item--cart a {
    color: @black;
  }
}
