.input-field {
  padding: 8px 0 8px 8px;
  background-color: transparent;
  color: @black;
  border-radius: 5px;
  font-size: 14px;
  font-family: @helvetica;
  cursor: pointer;
  outline: none;
  border: 1px solid @orange;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: @orange;
    padding-left: 25px;
    font-size: 13px;
  }
  &::-moz-placeholder {
    color: @orange;
    padding-left: 25px;
    font-size: 13px;
  }
  &:-ms-input-placeholder {
    color: @orange;
    padding-left: 25px;
    font-size: 13px;
  }
}
